<!DOCTYPE html>
<html>
<head>
  <title>TechBenders - Bending Technology for all</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  <!-- <h1><center>TechBenders - Project 0</center></h1> -->
</header>


<body>
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
